version: "3.8"

services:
  postgres:
    image: postgres:9.6
    container_name: postgres_customers
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    ports:
      - 5432:5432
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

networks:
  bridge:
    driver: bridge
    external: true